.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems a{
    padding: 10px;
    text-decoration: none;
    color: black;
}

.messages {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.messages .dialog {
    color: black;
}

.active {
    color: white;
}